<html>
  <head>
    <title>oneword</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  </head>
  <body>
    <script src="main.js"></script>
    <div ng-app="oneword">

      <div ng-controller="userText as userTextVm">

        <div>
          <input type="text" ng-model="userTextVm.wordCount" />
          <div class="startBtn" ng-click="userTextVm.setWordsGoal(userTextVm.wordCount)">get started</div>
        </div> 

        <div ng-if="userTextVm.wordsGoal">
          <textarea class="mainText" ng-keydown="userTextVm.handleKeydown($event)"></textarea>
        </div>

      </div>

    </div>
  </body>
</html>