<html>
  <head>
    <title>oneword</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
  </head>
  <body>
    <script src="main.js"></script>

    <div ng-app="oneword">
      <div ng-controller="userText as userTextVm" class="container">
        <div ng-if="!!userTextVm.askToContinue">
          Congratulations! You hit your word limit. 
          <div class="button" ng-click="userTextVm.continueSession()">I want to keep going</div>
          <div class="button" ng-click="userTextVm.completeSession()">I'm all done. Show me what I wrote</div>
        </div>
        <div class="container offset-vertical-250" ng-if="!userTextVm.wordsGoal && !userTextVm.completed">
          <p class="bigText">How many words do you want to write?</p>
          <input type="number" maxlength="5" step="10" class="wordCountInput" ng-model="userTextVm.wordCount" ng-keydown="userTextVm.handleWordCount($event)" />
          <div class="button" ng-click="userTextVm.setWordsGoal(userTextVm.wordCount)">
          </div>
        </div>
        <div class="container offset-vertical-250" ng-if="userTextVm.wordsGoal && !userTextVm.completed && !userTextVm.askToContinue">
          <p class="bigText">One word at a time . . .</p>
          <textarea id="mainText" autofocus ng-keydown="userTextVm.handleTyping($event)" ng-model="userTextVm.word"></textarea>
        </div>
        <div ng-if="userTextVm.completed" class="offset-vertical-250">
          <div class="bigText">
            {{userTextVm.fullWriting}}
          </div>
          <div class="button" ng-click="userTextVm.restart()">
            <p class="bigText">Start again</p>
          </div>
        </div>
      </div>

    </div>
  </body>
</html>